dagster==0.13.8
dagster-dbt==0.13.8
dagster-gcp==0.13.8
dagster-postgres==0.13.8
dagit==0.13.8
dbt-bigquery==0.21.0
google-api-python-client
google-cloud-storage
pandas
pyarrow
pytest
requests
tenacity